.footer {
    padding-top: 60px;
    background: var(--green-color-light);
    .social-list {
        margin-top: 28px;
    }
    .page-contact {
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
    }
    .page-up {
        position: absolute;
        top: 0;
        right: 0;
    }
    &--main {
        .page-logo {
            pointer-events: none;
        }
    }
    &__inner {
        position: relative;
    }
    &__top,
    &__bot {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }
    &__top {
        padding-bottom: 40px;
        border-bottom: 1px solid var(--primary-color);
    }
    &__info {
        h5 {
            font-size: 16px;
            line-height: 1.35;
            color: var(--gray-color-dark);
            letter-spacing: normal;
            max-width: 300px;
            margin-top: 16px;
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .accordion__header {
            font-size: 20px;
            font-weight: 600;
            pointer-events: none;
            margin-bottom: 12px;
        }
        .accordion__icon {
            display: none;
        }
        .accordion__body {
            display: block;
            ul li {
                font-size: 16px;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: var(--gray-color-dark);
                    &:hover {
                        color: var(--green-color);
                    }
                }
            }
        }
    }
    &__contacts {
        .main-btn {
            margin-top: 16px;
        }
    }
    &__bot {
        font-size: 14px;
        color: var(--gray-color);
        padding: 16px 0;
    }
    &__links {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        a {
            width: max-content;
            color: var(--gray-color);
            display: inline-block;
            &:hover {
                color: var(--green-color);
            }
        }
    }
    &__dev {
        display: flex;
        align-items: center;
        a {
            svg {
                fill: var(--gray-color);
                transition: all 0.3s linear;
                margin-left: 8px;
            }
            &:hover {
                svg {
                    fill: var(--green-color);
                }
            }
        }
    }
    @media (max-width: $bp1) {
        padding-top: 40px;
        .social-list {
            margin-top: 20px;
        }
        .page-contact a {
            font-size: 18px;
        }
        &__info {
            h5 {
                font-size: 14px;
                max-width: 240px;
            }
        }
        &__menu {
            .accordion__header {
                font-size: 18px;
                margin-bottom: 8px;
            }
            .accordion__body {
                ul li {
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
        }
        &__top,
        &__bot,
        &__menu {
            gap: 16px;
        }
        &__top {
            padding-bottom: 24px;
        }
        &__links,
        &__dev {
            font-size: 12px;
        }
    }
    @media (max-width: $bp2) {
        &__info {
            h5 {
                font-size: 12px;
            }
        }
        &__menu {
            .accordion {
                &__header {
                    font-size: 16px;
                }
                &__body {
                    ul li {
                        font-size: 12px;
                    }
                }
            }
        }
        &__links {
            grid-template-columns: auto auto;
        }
    }
    @media (max-width: $bp3) {
        padding-top: 32px;
        .page-contact {
            margin-top: 20px;
            a {
                font-size: 16px;
            }
        }
        .social-list {
            margin-top: 14px;
        }
        &__top {
            grid-template-columns: 1fr;
            gap: 24px;
        }
        &__info {
            padding-right: 50px;
            h5 {
                max-width: 400px;
                margin-top: 12px;
            }
        }
        &__menu {
            grid-template-columns: 1fr;
            gap: 12px;
            .accordion {
                padding-bottom: 12px;
                border-bottom: 1px solid var(--primary-color);
                &__header {
                    pointer-events: auto;
                    margin-bottom: 0;
                }
                &__icon {
                    display: block;
                }
                &__body {
                    display: none;
                    ul li {
                        margin-bottom: 8px;
                        a {
                            font-size: 14px;
                        }
                    }
                }
                &__content {
                    padding-top: 12px;
                }
            }
        }
        &__contacts {
            .main-btn {
                margin-top: 12px;
            }
        }
        &__copyright {
            font-size: 12px;
        }
        &__bot {
            grid-template-columns: 1fr auto;
        }
        &__links {
            grid-area: 1/1/2/3;
            grid-template-columns: 1fr;
            justify-items: start;
        }
    }
    @media (max-width: $bp4) {
        .page-logo {
            width: 160px;
            height: 40px;
        }
    }
}
