.modal {
    visibility: hidden;
    opacity: 0;
    padding: 40px var(--container-offset);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    transition: all 0.3s 0.1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.1s ease-out;
        }
    }
    &__close.btn-cross {
        width: 32px;
        height: 32px;
        position: relative;
        &:before,
        &:after {
            height: 4px;
        }
        position: absolute;
        right: 40px;
        top: 40px;
        z-index: 2;
    }
    &__top {
        margin-bottom: 20px;
        p {
            font-size: 16px;
            margin-top: 16px;
        }
    }
    &__content {
        width: 100%;
        max-width: 756px;
        padding: 40px 80px;
        margin: auto;
        border-radius: 20px;
        border: 1px solid var(--border-color);
        background-color: var(--white);
        box-shadow: 2px 2px 4px 0px #bdbfc140;
        position: relative;
        overflow: hidden;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-out;
    }
    &__btns {
        width: max-content;
        display: grid;
        grid-template-columns: auto auto;
        gap: 12px;
    }
    @media (max-width: $bp1) {
        &__close.btn-cross {
            width: 26px;
            height: 26px;
            top: 32px;
            right: 60px;
            &::before,
            &::after {
                height: 3px;
            }
        }
        &__top {
            margin-bottom: 16px;
            h3 {
                padding-right: 40px;
            }
            p {
                font-size: 14px;
                padding-right: 40px;
                margin-top: 12px;
            }
        }
        &__content {
            max-width: 620px;
            padding: 32px 60px;
        }
    }
    @media (max-width: $bp3) {
        padding: 32px 0 0;
        overflow: hidden;
        .form__footer {
            .main-btn {
                width: 100%;
            }
        }
         &__close.modal__close.btn-cross {
            right: calc((100% - var(--content-width)) / 2);
        }
        &__content {
            max-width: 100% !important;
            max-height: 100%;
            padding: 24px 5px 0;
            border-radius: 20px 20px 0 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
        }
        &__top,
        &__scroll {
            padding-left: calc((100% - var(--content-width)) / 2);
            padding-right: calc((100% - var(--content-width)) / 2);
        }
        &__top {
            position: sticky;
            top: 0;
            background: var(--white);
        }
        &__scroll {
            flex: 1 1 auto;
            padding-bottom: 24px;
            overflow-y: auto;
        }
        &__close.btn-cross {
            width: 20px;
            height: 20px;
            top: 24px;
            right: 50px;
        }
        &__btns {
            width: 100%;
            margin-top: 8px;
            grid-template-columns: 1fr 1fr;
            .btn {
                display: flex;
            }
        }
    }
    @media (max-width: $bp5) {
        &__close.modal__close.btn-cross {
            right: var(--container-offset);
        }
        &__top, &__scroll {
            padding-left: var(--container-offset);
            padding-right: var(--container-offset);
        }
        &__btns {
            grid-template-columns: 1fr;
        }
        .item-form {
            textarea {
                min-height: 80px;
            }
        }
    }
}
.fancy-modal {
    display: block;
    background: var(--white);
    .modal__close.btn-cross {
        top: 0 !important;
        right: 0 !important;
    }
    &__content {
        height: 100%;
        min-height: 200px;
        max-width: 1061px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__mainswiper {
        flex: 1 1 auto;
        display: flex;
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
        }
        .media-contain,
        .media-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__thumbswiper {
        width: 100%;
        max-width: 644px;
        padding: 0 64px;
        margin: 24px auto 0;
        position: relative;
        .media-contain,
        .media-cover {
            padding-top: 70%;
        }
        .swiper-slide {
            border-radius: 12px;
            border: 1px solid var(--border-color);
            transition: border-color 0.3s linear;
            cursor: pointer;
            overflow: hidden;
        }
        .swiper-slide-thumb-active {
            border-color: var(--primary-color);
        }
        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &--prev {
                left: 0;
            }
            &--next {
                right: 0;
            }
        }
        .video {
            &:after {
                width: 40px;
                height: 40px;
                background-size: 16px 16px;
            }
        }
    }
    @media (max-width: $bp1) {
        &__content {
            max-width: 979px;
        }
    }
    @media (max-width: $bp3) {
        padding: 32px var(--container-offset);
        overflow: auto;
        &__content {
            max-width: var(--content-width);
        }
    }
    @media (max-width: $bp4) {
        &__thumbswiper {
            max-width: 100%;
        }
    }
    @media (max-width: $bp6) {
        &__mainswiper,
        &__thumbswiper {
            margin-left: calc(var(--container-offset) * -1);
            margin-right: calc(var(--container-offset) * -1);
        }
        &__thumbswiper {
            max-width: calc((100% + 2 * var(--container-offset)));
            padding: 0 var(--container-offset);
            overflow: hidden;
            .swiper {
                overflow: visible;
            }
            .nav-btn--prev {
                left: var(--container-offset);
            }
            .nav-btn--next {
                right: var(--container-offset);
            }
        }
    }
}
.city-modal {
    .modal__content {
        max-width: 900px;
    }
    &__list {
        max-height: 282px;
        padding-right: 40px;
        margin-right: -40px;
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 40px;
        .link-btn {
            margin-bottom: 0;
        }
    }
    @media (max-width: $bp1) {
        .modal__content {
            max-width: 724px;
        }
        &__list {
            max-height: 252px;
            padding-right: 6px;
            margin-right: -6px;
            gap: 0 32px;
            .link-btn {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: $bp3) {
        &__list {
            max-height: 100%;
            overflow: visible;
        }
    }
    @media (max-width: $bp4) {
        &__list {
            grid-template-columns: 1fr;
            gap: 16px;
            .link-btn {
                a {
                    font-size: 16px;
                    padding: 0;
                }
                &:hover,
                &.active {
                    a {
                        color: var(--green-color);
                        background: none;
                    }
                }
            }
        }
    }
}
.cart-removal-modal {
    @media (min-width: $bp1) {
        .modal__content {
            max-width: 738px;
        }
    }
}
.success-modal,
.error-modal {
    h3 {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 12px;
        align-items: center;
        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            align-self: start;
            border-radius: 50%;
            background-size: 24px 24px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    p {
        margin-bottom: 32px;
        &:empty {
            margin-bottom: 4px;
        }
    }
    @media (max-width: $bp1) {
        p {
            margin-bottom: 24px;
            &:empty {
                margin-bottom: 8px;
            }
        }
    }
    @media (max-width: $bp3) {
        h3 {
            gap: 8px;
            &:before {
                width: 32px;
                height: 32px;
                background-size: 20px 20px;
            }
        }
        .stroke-btn {
            width: 100%;
            display: flex;
        }
    }
}
.success-modal {
    h3 {
        &::before {
            background-image: url(../img/svg/success.svg);
            background-color: var(--green-color-light);
        }
    }
}
.error-modal {
    h3 {
        &::before {
            background-image: url(../img/svg/error.svg);
            background-color: var(--red-color-light);
        }
    }
}
.showrooms-modal {
    .modal__close.btn-cross {
        right: var(--container-offset) !important;
    }
}
.cart-popup {
    position: fixed;
    right: calc((100% - var(--content-width)) / 2);
    top: 150px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.3s linear,
        opacity 0.3s linear,
        transform 0.3s linear;
    transform: translateY(30px);
    pointer-events: none;
    &.show,
    &:hover {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
    .custom-scroll {
        padding-right: 8px;
        margin-right: -8px;
    }
    &__inner {
        width: 494px;
        padding: 20px 32px;
        border-radius: 20px;
        border: 1px solid var(--primary-color);
        background: var(--white);
        overflow: hidden;
    }
    &__items {
        max-height: 405px;
        overflow-y: auto;
    }
    &__bot {
        margin-top: 24px;
        .main-btn {
            width: 100%;
        }
    }
    @media (max-width: $bp1) {
        top: 120px;
        &__inner {
            width: 424px;
            padding: 16px 24px;
        }
        &__items {
            max-height: 304px;
        }
    }
    @media (max-width: $bp2) {
        top: 80px;
        .custom-scroll {
            max-height: 230px;
        }
        &__inner {
            width: 370px;
        }
    }
    @media (max-width: $bp3) {
        display: none;
    }
}
.fixed-menu {
    display: none;
    @media (max-width: $bp3) {
        display: block;
        position: sticky;
        bottom: 0;
        z-index: 300;
        padding: 10px 0;
        border-top: 1px solid var(--border-color);
        background: var(--white);
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 -4px;
            li {
                margin: 0 4px;
                a,
                button {
                    display: inline-block;
                    font-size: 10px;
                    color: var(--gray-color);
                    svg {
                        fill: var(--gray-color);
                        width: 24px;
                        height: 24px;
                        margin: 0 auto 4px;
                    }
                }
            }
        }
        &__icon {
            position: relative;
            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 17px;
                color: var(--white);
                padding: 0 3px;
                border-radius: 10px;
                border: 1px solid var(--white);
                background: var(--primary-color);
                position: absolute;
                min-width: 19px;
                bottom: 50%;
                left: 50%;
                white-space: nowrap;
                text-align: center;
                &:empty {
                    display: none;
                }
            }
        }
    }
}
.cookie {
    position: fixed;
    bottom: 40px;
    left: calc((100% - var(--content-width)) / 2);
    width: 100%;
    max-width: 949px;
    border-radius: 8px;
    border: 1px solid var(--border-color-green);
    background: var(--green-color-light);
    z-index: 400;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    pointer-events: none;
    &.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    &__inner {
        padding: 8px 12px;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: start;
        gap: 10px;
    }
    &__content {
        align-self: center;
        p {
            font-size: 16px;
        }
    }
    &__btns {
        display: grid;
        grid-template-columns: auto auto;
        gap: 24px;
        .btn {
            font-size: 14px;
        }
        .main-btn {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    @media (max-width: $bp1) {
        &__content {
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: $bp3) {
        width: calc(100% - (var(--container-offset) * 2));
        max-width: 302px;
        bottom: 68px;
        &__inner {
            grid-template-columns: 1fr;
            justify-items: start;
        }
    }
    @media (max-width: $bp4) {
        left: var(--container-offset);
    }
}
.showrooms-modal {
    .modal__top {
        margin-bottom: 0;
    }
}
.tippy-content {
    font-size: 14px;
    color: var(--black);
    &.open {
        visibility: visible;
        opacity: 1;
    }
    @media (min-width: $bp3) {
        width: max-content;
        max-width: 260px;
        height: auto;
        left: auto;
        right: auto;;
        padding: 8px 12px;
        border-radius: 8px;
        background: var(--green-color-light);
        overflow: visible;
        transition:
            visibility 0.3s ease-out,
            opacity 0.3s ease-out !important;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 10px 0 10px;
            border-color: var(--green-color-light) transparent transparent transparent;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%) rotate(180deg);
        }
        .modal__close.btn-cross.btn-cross {
            display: none;
        }
        .modal__content {
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
            box-shadow: none;
            transform: none;
            opacity: 1;
        }
        .modal__scroll {
            overflow: visible;
        }
    }
    @media (min-width: $bp2) {
        max-width: 330px;
    }
    @media (max-width: $bp3) {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        &__inner {
            padding-right: 50px;
        }
    }
}
