.pub-date {
    color: var(--gray-color);
    display: block;
    margin-top: 16px;
    @media (max-width: $bp4) {
        margin-top: 12px;
    }
}
.item-news,
.item-promo {
    height: 100%;
    .media-cover {
        padding-top: 71%;
        border-radius: 20px;
        img {
            transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        &:hover img {
            transform: scale(1.04);
        }
    }
    &__content {
        h4 {
            margin-bottom: 16px;
        }
        a,
        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        a:hover {
            color: var(--green-color);
        }
        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }
    &__date {
        font-size: 16px;
        font-weight: 400;
        color: var(--gray-color);
    }
    @media (max-width: $bp1) {
        .media-cover {
            border-radius: 16px;
        }
        &__content {
            h4 {
                margin-bottom: 12px;
            }
            p {
                font-size: 14px;
                margin-bottom: 8px;
            }
        }
        &__date {
            font-size: 14px;
        }
    }
    @media (max-width: $bp2) {
        &__content {
            h4 {
                font-size: 16px;
                margin-bottom: 4px;
            }
            p {
                font-size: 12px;
            }
        }
        &__date {
            font-size: 12px;
        }
    }
    @media (max-width: $bp4) {
        h4 {
            font-size: 14px;
        }
        .media-cover {
            border-radius: 12px;
        }
    }
}
.item-news {
    &__content {
        padding: 12px 12px 0;
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 12px 8px 0;
        }
    }
    @media (max-width: $bp4) {
        &__content {
            padding: 8px 0 0;
        }
    }
}
.news-p {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;
        @media (max-width: $bp1) {
            gap: 40px 16px;
        }
        @media (max-width: $bp2) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $bp4) {
            grid-template-columns: 1fr 1fr;
            gap: 12px;
        }
    }
}
.article-p {
    .sec-top {
        display: block;
    }
    &__img {
        max-width: 960px;
        margin-bottom: 24px;
        img {
            width: 100%;
            border-radius: 20px;
        }
        @media (max-width: $bp1) {
            max-width: 690px;
        }
        @media (max-width: $bp2) {
            max-width: 100%;
        }
        @media (max-width: $bp4) {
            img {
                border-radius: 16px;
            }
        }
    }
    @media (max-width: $bp2) {
        .nav-anchors {
            display: none;
        }
    }
}
.news-banner {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    .media-cover,
    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .media-cover {
        background: var(--green-color-light);
    }
    &__content {
        padding: 24px 32px;
        z-index: 1;
        h3 {
            font-weight: 500;
            color: var(--green-color);
        }
    }
    @media (max-width: $bp1) {
        border-radius: 16px;
        &__content {
            padding: 16px 24px;
        }
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 16px;
            h3 {
                font-size: 24px;
            }
        }
    }
    @media (max-width: $bp4) {
        border-radius: 12px;
        &__content {
            padding: 12px;
        }
    }
}
.nav-anchors {
    ul {
        li {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-weight: 600;
                padding: 14px 20px;
                display: flex;
                align-items: center;
                border-radius: 16px;
                background: var(--gray-color-light);
                &.active {
                    color: var(--white);
                    background: var(--primary-color);
                    &:before {
                        background: var(--white);
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    flex: 0 0 6px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: var(--primary-color);
                    margin-right: 15px;
                }
            }
        }
    }
}
.item-promo {
    background: var(--white-color);
    border-radius: 20px;
    box-shadow: 0px 0px 18px 0px rgba(113, 125, 117, 0.2);
    &__content {
        padding: 16px;
    }
    @media (min-width: $bp4) {
        &__content {
            p {
                -webkit-line-clamp: 3;
            }
        }
    }
    @media (max-width: $bp1) {
        border-radius: 16px;
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 12px;
        }
    }
    @media (max-width: $bp4) {
        border-radius: 12px;
        &__content {
            padding: 12px 8px;
        }
    }
}
.promos-p {
    .promo-block {
        min-height: 340px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 20px;
        border: 1px solid var(--border-color-green);
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 20px;
    }
    @media (max-width: $bp1) {
        .promo-block {
            min-height: 281px;
            border-radius: 16px;
        }
        &__items {
            gap: 40px 16px;
        }
    }
    @media (min-width: $bp2) {
        &__items {
            grid-template-columns: repeat(12, 1fr);
            .item-promo {
                grid-column-end: span 4;
                &:nth-child(7n),
                &:nth-child(7n + 4),
                &:nth-child(7n + 5),
                &:nth-child(7n + 6) {
                    grid-column-end: span 3;
                }
            }
        }
    }
    @media (max-width: $bp2) {
        .promo-block {
            min-height: 237px;
            padding-left: 40px;
            padding-right: 40px;
            &::after {
                height: 100%;
                opacity: 0.6;
            }
            &__content {
                max-width: 60%;
            }
        }
    }
    @media (max-width: $bp4) {
        .promo-block {
            padding-left: var(--container-offset);
            padding-right: var(--container-offset);
        }
        &__items {
            grid-template-columns: 1fr 1fr;
            gap: 12px;
        }
    }
}
.promo-block {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background: var(--green-color-light);
    position: relative;
    overflow: hidden;
    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    .social-list {
        margin-top: 24px;
    }
    &__img {
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 200%;
            background: url(../img/svg/gradient.svg) center/contain no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__content {
        max-width: 45%;
        flex: 1 1 auto;
        padding: 38px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 1;
        h1,
        .h1 {
            color: var(--green-color);
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
        }
    }
    &__date {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    @media (max-width: $bp1) {
        min-height: 372px;
        .social-list {
            margin-top: 20px;
        }
        &__content {
            max-width: 50%;
            padding: 56px 0;
            h1,
            .h1 {
                margin-bottom: 12px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__content {
            max-width: 67%;
            padding: 25px 0;
            h1,
            .h1 {
                margin-bottom: 8px;
            }
        }
    }
    @media (min-width: $bp4) {
        &__img {
            position: absolute;
            top: 47%;
            right: 50%;
            transform: translate(100%, -50%);
        }
    }
    @media (max-width: $bp4) {
        min-height: 0!important;
        flex-direction: column-reverse;
        &__content {
            max-width: 100%!important;
        }
    }
}
.info-block {
    .main-btn {
        margin-top: 32px;
    }
    &__row {
        display: grid;
        grid-template-columns: 1fr 43.37%;
        align-items: start;
        gap: 60px;
    }
    &__content {
        max-width: 800px;
    }
    &__banner {
        position: relative;
        z-index: 1;
        border-radius: 20px;
        border: 1px solid var(--border-color-green);
        background: var(--green-color-light);
        overflow: hidden;
        p {
            color: var(--green-color);
            position: absolute;
            top: 32px;
            left: 40px;
            bottom: 32px;
            right: 40px;
        }
        .media-cover {
            padding-top: 56.94%;
        }
    }
    @media (min-width: $bp4) and (max-width: $bp3) {
        &__banner .h1 {
            font-size: 50px;
        }
    }
    @media (max-width: $bp1) {
        .main-btn {
            margin-top: 24px;
        }
        &__row {
            grid-template-columns: 1fr 45.65%;
        }
    }
    @media (max-width: $bp3) {
        &__row {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
    @media (max-width: $bp4) {
        &__banner {
            border-radius: 16px;
            p {
                max-width: 300px;
                top: 12px;
                bottom: 12px;
                left: 16px;
                right: 16px;
            }
        }
    }
}
