.showrooms {
    .custom-scroll {
        height: 100%;
        padding-right: 6px;
        margin-right: -6px;
        overflow-y: auto;
    }
    &__blocks {
        height: 690px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        overflow: hidden;
    }
    &__block--map {
        position: relative;
    }
    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @media (min-width: $bp3) {
        &__tabs {
            display: none;
        }
        &__block {
            display: block !important;
        }
    }
    @media (max-width: $bp1) {
        &__blocks {
            height: 496px;
            gap: 16px;
        }
    }
    @media (max-width: $bp2) {
        &__blocks {
            grid-template-columns: 1.1fr 2fr;
        }
    }
    @media (max-width: $bp3) {
        &__tabs {
            margin-bottom: 16px;
        }
        &__blocks {
            height: auto;
            display: block;
        }
        &__block--map {
            height: 0;
            display: block !important;
            visibility: hidden;
            &.active {
                height: auto;
                visibility: visible;
            }
        }
        &__map {
            position: static;
            height: calc(100dvh - 300px);
            min-height: 496px;
            max-height: 662px;
        }
        .item-contact {
            a:first-child,
            span:first-child {
                font-size: 12px;
            }
        }
    }
    @media (max-width: $bp4) {
        &__map {
            height: 340px;
            min-height: 340px;
            max-height: 340px;
        }
    }
}
.showrooms-city {
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    &:last-child {
        margin-bottom: 0;
    }
    &__header {
        padding: 20px 24px;
        background: var(--gray-color-light);
    }
    &__list {
        padding: 20px 24px;
        border-top: 1px solid var(--border-color);
    }
    @media (max-width: $bp1) {
        margin-bottom: 8px;
        border-radius: 16px;
        &__header,
        &__list {
            padding: 16px 20px;
        }
    }
    @media (max-width: $bp3) {
        &__header,
        &__list {
            padding: 12px 16px;
        }
        &__header {
            .h4 {
                font-size: 16px;
            }
        }
    }
}
.item-showroom {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 24px;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    &__header {
        justify-content: flex-start;
        &::before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;
            background: url(../img/svg/map-marker.svg) center/contain no-repeat;
            margin-right: 8px;
        }
    }
    &__content {
        padding: 12px 0 0 40px;
    }
    @media (max-width: $bp1) {
        padding-bottom: 8px;
        margin-bottom: 16px;
        &__header {
            &:before {
                width: 28px;
                height: 28px;
            }
        }
        &__content {
            padding: 8px 0 0 36px;
        }
    }
    @media (max-width: $bp4) {
        &__header {
            h5 {
                font-size: 16px;
            }
        }
    }
}
.callback-form {
    .form__footer {
        margin-top: 24px;
    }
    &__inner {
        padding: 85px calc(100% / 12 - 20px);
        display: grid;
        grid-template-columns: 2.17fr 3fr;
        gap: 20px;
        border-radius: 30px;
        background: var(--gray-color-light);
    }
    &__info {
        h2 {
            max-width: 430px;
        }
        p {
            font-size: 16px;
            margin-top: 12px;
        }
    }
    &__contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-top: 24px;
    }
    @media (max-width: $bp1) {
        .form__footer {
            margin-top: 12px;
        }
        .form__grid {
            gap: 8px;
        }
        .page-contact {
            font-size: 14px;
        }
        &__inner {
            padding: 40px 60px;
            grid-template-columns: 1.3fr 2fr;
            gap: 16px;
        }
        &__info {
            h2 {
                max-width: 350px;
            }
        }
        &__contacts {
            max-width: 390px;
        }
    }
    @media (max-width: $bp2) {
        &__info {
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: $bp3) {
        .form__footer {
            margin-top: 24px;
        }
        &__inner {
            grid-template-columns: 1fr;
            border-radius: 20px;
        }
        &__info {
            h2 {
                max-width: 100%;
            }
        }
        &__contacts {
            max-width: 590px;
        }
    }
    @media (max-width: $bp4) {
        &__inner {
            padding: 32px 16px;
        }
        &__info {
            h2 {
                max-width: 280px;
            }
        }
        &__contacts {
            grid-template-columns: 1fr;
            margin-top: 12px;
        }
    }
    @media (max-width: $bp6) {
        &__inner {
            margin: 0 calc(var(--container-offset) * -1);
            border-radius: 0;
        }
    }
}
