@import "fonts";
@import "null";
@import "vars";
@import "general";
@import "preloader";
@import "search";
@import "header";
@import "mainMenu";
@import "breadcrumbs";
@import "pagination";
@import "404";
@import "main";
@import "catalog";
@import "nouislider";
@import "product";
@import "reviews";
@import "about";
@import "news";
@import "map";
@import "showrooms";
@import "cart";
@import "order";
@import "services";
@import "modal";
@import "footer";


[data-animation=fadeUp] {
    opacity: 0;
}
.fadeUp {
    animation: fadeUp 1s forwards;
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}