<!--card-->
<article class="card js-prodBlock" data-id="123">
    <div class="card__preview">
        <div class="product-lbls">
            @@if(inStock === true) {
            <span class="hit">Хит</span>
            <span class="discount">Скидка</span>
            }
            @@if(inStock === false) {
            <span class="recommended">Лескрафт рекомендует</span>
            <span class="promo">Акция</span>
            }
        </div>
        @@if(hasPhoto === true) {
        <a href="#" class="media-contain">
            <img src="img/content/product-@@nmb.png" alt="Брусок декоративный скошенный 19 × 70 × 2 200 мм">
        </a>
        }
        @@if(hasPhoto === false) {
        <a href="#" class="media-contain no-photo"></a>
        }
    </div>
    <div class="card__inner">
        <div class="card__header">
            @@if(inStock === true) {
            <div class="product-status in-stock">Доступно сегодня</div>
            }
            @@if(inStock === false) {
            <div class="product-status out-of-stock">Ожидает поступления</div>
            }
            <h5><a href="#">Брусок декоративный скошенный 19 × 70 × 2 200 мм</a></h5>
            <div class="card__info">1 уп = 10 шт/192 м²</div>
        </div>
        <div class="card__footer">
            <div class="card__price-wrapper">
                <div class="item-tippy">
                    Цена за упаковку:
                    <div class="tippy">
                        <svg><use xlink:href="img/svg/sprite.svg#tippy"></use></svg>
                        <p>Специальная цена для вас</p>
                    </div>
                </div>
                <div class="product-price">
                    <span class="rub product-price__current">6 000</span>
                    <del class="rub product-price__old">7 600</del>
                </div>
            </div>
            @@if (fav === true) {
            <button type="button" class="js-fav product-fav active" aria-label="Удалить из избранного">
                <svg><use xlink:href="img/svg/sprite.svg#product-fav"></use></svg>
            </button>
            }
            @@if (fav === false) {
            <button type="button" class="js-fav product-fav" aria-label="Добавить в избранное">
                <svg><use xlink:href="img/svg/sprite.svg#product-fav"></use></svg>
            </button>
            }
            <div class="product-action">
                <div class="quantity" data-stock="45">
                    <button type="button" class="quantity__btn js-minus" aria-label="Уменьшить количество на 1"></button>
                    <input type="number" class="quantity__count" value="1" aria-label="Количество">
                    <button type="button" class="quantity__btn js-plus" aria-label="Увеличить количество на 1"></button>
                </div>
                <button type="button" class="btn main-btn js-add-to-cart">
                    <svg><use xlink:href="img/svg/sprite.svg#cart"></use></svg>
                    В корзину
                </button>
            </div>
        </div>
    </div>
</article>