<!--header-->
@@if (main == true) {
<header class="header header--main fixed-block">
    }
    @@if (main == false) {
    <header class="header fixed-block">
        }
        <div class="container header__container">
            <div class="header__top">
                <button type="button" class="btn mod-open-btn page-loc" data-modal="city-modal">
                    <svg><use xlink:href="img/svg/sprite.svg#location"></use></svg>
                    <span>Краснодар</span>
                    <svg><use xlink:href="img/svg/sprite.svg#chevron-bot"></use></svg>
                </button>
                <div class="header__delivery">Доставка по всему Югу России</div>
                <nav class="top-menu">
                    <ul class="top-menu__list">
                        <li><a href="#" class="top-menu__header">Доставка</a></li>
                        <li><a href="#" class="top-menu__header">Услуги</a></li>
                        <li>
                            <div class="top-menu__header">
                                Для клиента
                                <svg><use xlink:href="img/svg/sprite.svg#chevron-bot"></use></svg>
                            </div>
                            <div class="top-menu__body">
                                <div class="top-menu__subnavs">
                                    <ul class="custom-scroll">
                                        <li><a href="#">Акции</a></li>
                                        <li><a href="#">Возврат и обмен</a></li>
                                        <li><a href="#">Условия оплаты</a></li>
                                        <li><a href="#">Для юридических лиц</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="top-menu__header">Филиалы и контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__body">
                <div class="header__left">
                    <a href="main.html" class="page-logo">
                        <svg><use xlink:href="img/svg/sprite.svg#logo"></use></svg>
                    </a>
                </div>
                <div class="header__center">
                    <a href="#" class="menu-btn" role="button" aria-expanded="false">
                        <div class="menu-btn__items">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <span class="menu-btn__txt">Каталог</span>
                    </a>
                    @@if(search === true) {
                    @@include("_search-form.html", {"results": true})
                    }
                    @@if(search === false) {
                    @@include("_search-form.html", {"results": false})
                    }
                </div>
                <div class="header__right">
                    <button type="button" class="btn mod-open-btn page-loc" data-modal="city-modal">
                        <svg><use xlink:href="img/svg/sprite.svg#location"></use></svg>
                        <span>Краснодар</span>
                        <svg><use xlink:href="img/svg/sprite.svg#chevron-bot"></use></svg>
                    </button>
                    <div class="page-contact page-contact--phone">
                        <a href="tel:88001004407">8 800 100-44-07</a>
                        <span>Бесплатно по России (8:00–20:00)</span>
                    </div>
                    <div class="header__actions">
                        <a href="#" class="header__fav" aria-label="Перейти в избранные"><svg><use xlink:href="img/svg/sprite.svg#fav"></use></svg></a>
                        <!--<button type="button" class="header__profile mod-open-btn" aria-label="Войти" data-modal="login-modal">
                            <svg><use xlink:href="img/svg/sprite.svg#profile"></use></svg>
                        </button>
                         <a href="#" class="header__profile" aria-label="Личный кабинет"><svg><use xlink:href="img/svg/sprite.svg#profile"></use></svg></a>  -->
                        <a href="#" class="header__cart" aria-label="Перейти в корзину">
                            <svg><use xlink:href="img/svg/sprite.svg#cart"></use></svg>
                            <span>6</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__bot">
                <ul>
                    <li><a href="#">Новинки</a></li>
                    <li><a href="#">Отделочные материалы</a></li>
                    <li><a href="#">Террасная доска</a></li>
                    <li><a href="#">Лаки и краски</a></li>
                    <li><a href="#">Крепёж</a></li>
                    <li><a href="#">Фанера и древесные плиты</a></li>
                    <li><a href="#">Экзотические породы</a></li>
                    <li><a href="#">Для бани и сауны</a></li>
                </ul>
            </div>
        </div>
        @@include("_main-menu.html")
    </header>